.form__container{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1340px ;
  margin: auto;
}

.form .btn--modif{
    color: #ffffff;
    width: 100%;
    border-color: rgba(45, 54, 81, 0.15);
    border-bottom-color:  rgba(255, 255, 255, 0.5);;
    
  }
  .form .btn--modif:hover,
  .form .btn--modif:focus{
    cursor: pointer;
    border: 2px solid #ffffff;
    background-color:  #d66926;
    
  }
  .form{
    padding: 30px;
    background-color: #2d3651 ;
  }
  .form__container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }
  .form-item__input{
    display: block;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 0.15em;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 1.125rem;
    transition: border-color 0.5s, background-color 0.5s;
  }
  
  .form-item__input:hover,
  .form-item__input:focus
  {
    border-color: rgba(255, 255, 255, 0.15);
    border-bottom-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    
  }