
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";




@import "sections/skills/skills";
@import "sections/skills/skills-item";
@import "sections/section-article";
@import "sections/form/form";
@import "sections/form/form-item";
@import "sections/posts/post";
@import "sections/posts/post-item";


@import "footer";


      @media (max-width: 992px){
      h1{
        font-size: 2.5rem;
      } 
      .btn{
        height: 50px;
        padding: 14px (-$gap);
        font-size: 1rem;
        min-width: 200px;
      }
      .header-content__title{
        margin: 0 0 43px;
      }
      
      .btn--light{
        min-width: 200px;
        height: 50px;
        font-size: 1rem;
      }  
      
      .skills__container{
        gap: 10px;
        grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
        grid-template-columns: repeat(3, 1fr);
      }
      .article,
      .posts{
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .article__container{
        gap: 100px;
        grid-template-columns: 1fr 271px;
      }
      /*.article__content p{
        font-size: 1.125rem;
      }*/
      .article__content p:first-of-type::after{
        right: -50px;
      }
      .post__grid{
        grid-template-areas:"a1 a1 a2" "a3 a4 a4" "a5 a5 a6" ;
        grid-template-columns: repeat(3, 1fr);
      }
      }
      @media(min-width:768px){
      .header-navbar__list{
          width: 100%;
          display: grid;
          justify-content: end;
          grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      
        }
      }
      @media (max-width: 768px){
      h1{
        font-size: 1.875rem;
      }
      .btn{
        height: 40px;
        padding: 9px (-$gap);
        font-size: 1rem;
        min-width: 170px;
      }
      .header-content__title{
        margin: 0 0 33px;
      }
      .article h2{
        margin-bottom: 36px;
        font-size: 1.5rem;
      }
      
      .header-menu{
      
        background-color: rgba(68, 89, 110, 0.25);
        box-shadow: -3px 3px $gap -10px black;
      }
      
      
      
      .header-navbar__btn{
       display: block;
      
      }
      .header-navbar__btn-row:nth-of-type(1){
       top: 0;
      }
      .header-navbar__btn-row:nth-of-type(2){
       top: 9px;
      }
      .header-navbar__btn-row:nth-of-type(3){
       top: 18px;
      }
      .header-navbar__btn-row{
       position: absolute;
       left: 0;
       display: block;
       width: 100%;
       height: 3px;
       opacity: 1;
       border-radius: 3px;
       background: $color-light;
       transition: 0.25s;
       transform: rotate(0deg);
      }
      
      .header-navbar__list{
        display: none;
        /*position: absolute;
        top: 100%;
        right: $gap;
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right;
        background-color: rgba(68, 89, 110, 0.9);
        box-shadow: -3px 3px $gap -10px black;*/
      
      }
      
      .header-navbar__item{
        margin-left: $gap;
      }
      .header-navbar__link{
        padding: $gap 10px;
      }
      .skills-item__title{
        font-size: 1.25rem;
      }
      .article,
      .posts{
        padding-top: 60px;
        padding-bottom: 60px;
      
      }
      .article__container{
        gap: $gap;
        grid-template-columns: 1fr 236px;
      }
      .article__content p:first-of-type::after{
        right: -10px;
      }
      
      .form__container{
        grid-template-columns: repeat(2, 1fr);
      }
      .form-item:nth-of-type(1){
        grid-column: 1/span 2;
      }
      .post__grid{
        grid-template-areas: "a1 a2" "a3 a4" "a5 a6";
        grid-template-columns: repeat(2, 1fr);
      }
      }
      @media (max-width:576){
      
      }
      
       
      
      
      
      
      
