/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */

      -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  /* 1 */
  overflow: visible;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */

  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  /* 1 */
          text-decoration: underline;
          text-decoration: underline dotted;

  border-bottom: none;
  /* 2 */

  -webkit-text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  color: #000000;
  background-color: #ffff00;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;

  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;

  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  /* 1 */
  outline-offset: -2px;

  -webkit-appearance: textfield;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;

  -webkit-appearance: button;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  /* 1 */
  display: table;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */

  white-space: normal;
  /* 3 */

  color: inherit;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */

  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}


/*
 * Наш код пишем здесь
 */
 *{
   box-sizing: border-box;
 }
 html{
   font-size: 16px;
   font-family: "Roboto", sans-serif;/*просмтреть шрифты*/
   overflow-y: scroll;
   /*letter-spacing: 0.1em;*/
 }
h1{
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  line-height: 1.2em;
}
h2{
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  color: #2d3651;
  margin-top: 0;
  margin-bottom: 56px;
}
h3{
  letter-spacing: 0.05em;
  color:#637588;
  font-size: 1.125em;
  
}

a{
  text-decoration: none;
  color: #ffffff;
}
p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  /*letter-spacing: 0.055em;*/
  line-height: 1.15em;
  color: #637588;
  /*margin-bottom: 18px;*/
}
img{
  border-style: none;
}
span{
  color: #637588;
}

.btn{
  border: 2px solid #ffffff;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-accent,
.btn{
  height: 60px;
  display: block;
  text-align: center;
  font-size: 1.125rem;
  padding: 18px 20px;
  letter-spacing: 0.1em;
  transition: background-color 0.5s;
}

.btn-accent{
  border: 2px solid #2d3651;
  min-width: 350px;
  background-color: rgba(45, 54, 81, 0.8);
}

.btn:hover,
.btn:focus,
.btn-accent:hover
{
  background-color: #d66926;
}
.form .btn--modif{
  color: #ffffff;
  width: 100%;
  border-color: rgb(45, 54, 81, 0.15);
  border-bottom-color:  rgba(255, 255, 255, 0.5);;
  
}
.form .btn--modif:hover,
.form .btn--modif:focus{
  cursor: pointer;
  border: 2px solid #ffffff;
  background-color:  #d66926;
  
}
/*.hidden{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
   border: 0;
}*/
.input{
  margin: 0;
  font-family: sans-serif;
  line-height: 1.15;
  overflow: visible;
}
 .header{
   position: relative;
   min-height: 100vh;
   background-color: #2d3651;
   /*background-image: url(../img/img-header.png);*/
   background-position: 50% 50%;
   background-size: cover;
   color: #ffffff;
   padding: 100px 0;
   display: grid;
   align-content: center;
 }

 .header-overlay{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   /*opacity: 0.8;
   background-color: #2d3651;*/ 
   
 }
 .header-menu{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  
 }

 .header-menu__container{
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
 }


.header-menu__container,
.header-content__container,
.article__container,
.form__container,
.post__container,
.footer__container{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1340px ;
  margin: auto;
 }

.header-logo{
  font-size: 1.5rem;
  letter-spacing: 0.22em;
}

.header-logo__link{
  display: block;
  padding: 20px 20px 20px 0;
}


 .header-logo__accent{
    border: 3px solid #d63c29;
    padding: 14px 1px 13px 5px;
    display: inline-block;
    margin-right: 4px;
 }
 .header-navbar{
   display: grid;
   justify-items: end;

 }
 .header-navbar__btn{
   display: none;
 }

 .header-navbar__list{
   width: 100%;
   margin: 0 -20px 0 0;
   padding: 0;
   list-style: none;
   display: grid;
   justify-content: end;
   grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
 }

 .header-navbar__link{
   font-size: 1.125rem;
   padding: 20px;
   display: block;
   transition: color 0.5s;
 }
 .header-navbar__link:hover{
  color: #d66926;
  }

 .header-content{
  position: relative;
 }

 .header-content__title{
   margin: 0 0 53px 0;
   text-align: center;
 }

 .header-content__buttons{
   display: flex;
   justify-content: center;
 }

 .header-content__buttons .btn:first-of-type{
    margin-right: 20px;
 }

.skills{
  padding: 10px;
  margin-bottom: 30px;
}

.skills__container{
  display: grid;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  grid-gap: 10px;
  margin-bottom: 20px;
}
.skills__button,
.posts__button{
  display: flex;
  justify-content: center;
}
 .skills-item{
   position: relative;
   background-color:#2d3651;
   min-height: calc(33.333vh - 40px/3);
   overflow: hidden;
 }
 .skills-item:hover .skills-item__overlay{
opacity: 0.95 !important;
}
 .skills-item:hover .skills-item__image{
  transform: scale(1.1);
}
.skills-item:hover .skills-item__link{
  color: #d66926;
}

.skills-item:nth-of-type(1){
   grid-area: a1;
}
.skills-item:nth-of-type(2){
  grid-area: a2;
}
.skills-item:nth-of-type(3){
  grid-area: a3;
}
.skills-item:nth-of-type(4){
  grid-area: a4;
}
.skills-item:nth-of-type(5){
  grid-area: a5;
}
.skills-item:nth-of-type(6){
  grid-area: a6;
}
.skills-item:nth-of-type(7){
  grid-area: a7;
}
.skills-item:nth-of-type(8){
  grid-area: a8;
}
.skills-item:nth-of-type(9){
  grid-area: a9;
}
.skills-item__overlay{
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  /*opacity: 0.8;
  background-color: #2d3651;*/
  
  transition: opacity 0.5s;
}
.skills-item__image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: url(../img/img-html.png);*/
  background-position: 50% 50%;
  background-size: cover;
  transition: transform 0.5s;
}
.skills-item__title{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: 0;
}
.skills-item__link{
  display: flex;
  padding: 20px;

  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  transition: color 0.5s;
}
.article
{
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5e5e5;
  letter-spacing: 0.055em;
  
}
.article__container{
  display: grid;
  grid-template-columns: 1fr 271px;
  grid-gap: 100px;
}

.article__content p:first-of-type{
  position: relative;
  margin-top: -5px;
  margin-bottom: 18px;
}
.article__content p:first-of-type::after{
  position: absolute;
  top: 0;
  right: -50px;
  content: "";
  width: 2px;
  height: 200px;
  background-color: rgba(112, 112, 112, 0.1);
  /*border: 2px  solid rgba(112, 112, 112 0.1);*/
}
.article__content p:last-of-type{
  margin: 0;
}
.article__image{   
  display: grid;
  align-content: center;
  justify-items: center;

}
.article__image img{
    max-width: 100%;
  max-height: 480px;
}
.form{
  padding: 30px;
  background-color: #2d3651 ;
}
.form__container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
}
.form-item__input{
  display: block;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 0.15em;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 1.125rem;
  transition: border-color 0.5s, background-color 0.5s;
}

.form-item__input:hover,
.form-item__input:focus
{
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  
}
.posts{
  padding-top: 100px;
  padding-bottom: 100px;
}
.post-container{
 
}

.post__grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a6 a6";
  overflow: hidden;
  gap: 20px; 
  padding-bottom: 20px;
  margin-top: 0;

}
.post-item{
  background-color: #f2f2f2;
  margin: 0;
  top: 0;
  left: 0;
}

.post-item:nth-of-type(1){
  grid-area: a1;
}
.post-item:nth-of-type(2){
  grid-area: a2;
}
.post-item:nth-of-type(3){
  grid-area: a3;
}
.post-item:nth-of-type(4){
  grid-area: a4;
}
.post-item:nth-of-type(5){
  grid-area: a5;
}
.post-item:nth-of-type(6){
  grid-area: a6;
}

.post-item__link{
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr ;
  
}
.post-item__image{
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #2d3651;
  transition: transform 0.5s;
  
}
.post-item__image img{
  width: 100%;
}

.post-item__caption{
  display: grid;
  align-content: center;
  padding: 20px;

}
.post-item__caption h3{
  text-align: center;
  font-family: "Roboto Slab" ,serif;
  margin-top: 18px;
  margin-bottom: 18px;
}
.post-item__caption p{
  text-align: center;
  line-height: 1.15;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: none;
  margin-top: 16px;
  margin-bottom: 16px;
}
.post-item:hover .post-item__image{
  transform: scale(1.1);
}
.post-item:hover {
  background-color: #d8d8d8;    
}

.post-item:hover h3{
  color: #2d3651;
}
.post-item:hover p{
  color: #2d3651;
}
.footer{
  background-color: #2d3651;
  text-align: center;
  padding: 50px 20px 70px 20px;
  display: block;
}
.footer__icons{
  position: relative;
  display: grid;
  justify-content: center;
grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
margin-bottom: 40px;
}
.footer__icons a{
  padding: 10px;
}
.fab{
  font-size: 36px;
  

}
.footer__copyright span:nth-of-type(1){
  font-weight: 100 ;
  letter-spacing: 0.33em;
  margin-right: -0.5em;
}
.footer__copyright span:nth-of-type(2){
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #e5e5e5;

}
.footer__icons::after{
  position: absolute;
  width: 75px;
  height: 2px;
  content: " ";
  left: calc(50% - 75px/2);
  bottom: -20px;
  background-color: rgba(255, 255, 255, 0.1);
}
 




