.header-content{
    position: relative;

    &__title{
      margin: 0 0 53px 0;
      text-align: center;
    }
    &__buttons{
      display: flex;
      justify-content: center;
    }
    &__buttons .btn:first-of-type{
      margin-right: $gap;
    }
    &__container{
      @extend %container;
    }

   }