.header-navbar{
    display: grid;
    align-items: center;
    letter-spacing: 0.1em;
    justify-items: end;

    &__btn{
      display: none; 
    }
    &__list{
      width: 100%;
      margin: 0 (-$gap) 0 0;
      padding: 0;
      list-style: none;
      display: grid;
      justify-content: end;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    }
    &__link{
      font-size: 1.125rem;
      padding: $gap;
      display: block;
      transition: color 0.5s;

      &:hover{
        color: $color-accent;
      }
    }
  
  }
 /*--------------------------------------------------*/
 .header-navbar__btn {
   width: 30px;
   height: 22.5px;
   position: relative;
   margin: $gap 0;
   transform: rotate(0deg);
   transition: .5s ease-in-out;
   cursor: pointer;
 }
 
 .header-navbar__btn-row{
   display: block;
   position: absolute;
   height: 3px;
   width: 100%;
   background: $color-light;
   border-radius: 3px;
   opacity: 1;
   left: 0;
   transform: rotate(0deg);
   transition: .25s ease-in-out;
 }
 
 .header-navbar__btn-row:nth-child(1) {
   top: 0px;
 }
 
 .header-navbar__btn-row:nth-child(2),#nav-icon3 span:nth-child(3) {
   top: 9px;
 }
 
 .header-navbar__btn-row:nth-child(4) {
   top: 18px;
 }
 
 .header-navbar__btn.activ span:nth-child(1) {
   top: 9px;
   width: 0%;
   left: 50%;
 }
 
 .header-navbar__btn.activ span:nth-child(2) {
   transform: rotate(45deg);
 }
 
 .header-navbar__btn.activ span:nth-child(3) {
   transform: rotate(-45deg);
 }
 
 .header-navbar__btn.activ span:nth-child(4) {
   top: 9px;
   width: 0%;
   left: 50%;
 }
 /*--------------------------------------------------*/

  .header-navbar .active{
    display: block;
    position: absolute;
    background-color: $color-gray-dark 0.9;
    top: 100%;
    right: $gap * 2;
    text-align: end;
 
  }
