.header-content{
    position: relative;
   }
  
   .header-content__title{
     margin: 0 0 53px 0;
     text-align: center;
   }
  
   .header-content__buttons{
     display: flex;
     justify-content: center;
   }
  
   .header-content__buttons .btn:first-of-type{
      margin-right: 20px;
   }